#bienvendida{
    background-color:burlywood;
    position: absolute;
    left: 450px;
    width: 500px;
}

#iniciosesion{
    position: absolute;
    right: 200px;
    top: 30px;
}

#maestro{
    position: absolute;
    left: 650px;
    top: 200px;
}

#alumno{
    position: absolute;
    left: 650px;
    top: 300px;
}

#Boton1{
    width: 100px;
    height: 40px;
}

#Boton2{
    width: 100px;
    height: 40px;
}

#Boton3{
    width: 100px;
    height: 40px;
}

#Boton4{
    width: 100px;
    height: 40px;
}

#Boton5{
    width: 100px;
    height: 40px;
}

#Boton6{
    width: 100px;
    height: 40px;
}

#indicacion1{
    background-color:burlywood;
    position:static;
    left: 300px;
    width: 100%;
}

h1{
    text-align: center;
}

#campo1{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#instrucciones2{
  background-color:burlywood;
    position:static;
    left: 300px;
    width: 100%;  
}

#campoini{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#campoini2{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#Boton7{
    width: 100px;
    height: 40px;
}

#Boton8{
    width: 100px;
    height: 40px;
}

#titulo{
    background-color:burlywood;
    position:static;
    left: 300px;
    width: 100%;
}

h2{
    text-align: center;
}

#botonini1{
    position: absolute;
    left: 620px;
    top: 210px;
}

#Boton9{
   width: 130px;
    height: 40px 
}

#botonini2{
    position: absolute;
    left: 620px;
    top: 150px;
}

#Boton10{
    width: 130px;
    height: 40px 
}

#botonini3{
    position: absolute;
    left: 620px;
    top: 330px;
}

#Boton11{
    width: 130px;
    height: 40px 
}

#botonini4{
    position: absolute;
    left: 620px;
    top: 390px;
}

#Boton12{
    width: 130px;
    height: 40px 
}

#botonini5{
    position: absolute;
    left: 620px;
    top: 270px;
}

#Boton13{
    width: 130px;
    height: 40px 
}

#botonini6{
    position: absolute;
    left: 620px;
    top: 450px;
}

#Boton14{
    width: 130px;
    height: 40px 
}

#indicacion3{
    background-color:burlywood;
    position:static;
    left: 300px;
    width: 100%;
}

#Boton15{
    width: 100px;
    height: 40px;
}

#Boton16{
    width: 130px;
    height: 40px;
    
}

#regiscampo1{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#regiscampo2{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#regiscampo3{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#regiscampo4{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#regiscampo5{
    position:abstolute;
    background-color:darksalmon;
    height: 25px;
}

#indicaciones5{
    background-color:burlywood;
    position:static;
    left: 300px;
    width: 100%;
}